---
import { Debug } from "astro:components";
import { pb } from "../../../backend";
import Layout from "../../../layouts/Layout.astro";
import { PersonneProfessionOptions } from "../../../pocketbase-typegen";
export const prerender = false;
const id = Astro.params.id;

const personne = await Astro.locals.pb.collection("personne").getOne(id!);

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const personne = await pb.collection("personne").create(data);
  return Astro.redirect(`/personne/${personne.id}-${personne.nom}`);
}

function formatDate(date: string) {
  return date ? new Date(date).toISOString().split("T")[0] : "";
}
---

<Layout pageTitle="Edit">
  <h1 class="text-center text-2xl text-pink-600 my-4">Ajouter une personne</h1>
  <section class="mx-8">
    <form method="post" class="*:contents grid grid-cols-2">
      <label class="m-3"
        >nationalite
        <select name="nationalite">
          <option>US</option>
          <option>FR</option>
          <option>UK</option>
        </select>
      </label>
      <label
        >Date Naissance
        <input
          type="date"
          name="DateNaissance"
          value={formatDate(personne.DateNaissance)}
        />
      </label>
      <label
        >Date Décès
        <input
          type="date"
          name="DateDeces"
          value={formatDate(personne.DateDeces)}
        />
      </label>
      <label
        >Lieu Naissance
        <input type="text" name="lieuNaissance" />
      </label>
      <label
        >Nom
        <input type="text" name="nom" />
      </label>
      <label>
        Profession
        <select name="profession" multiple>
          {
            Object.entries(PersonneProfessionOptions).map(([key, value]) => (
              <option value={key}>{value}</option>
            ))
          }
        </select>
      </label>
      <button>Envoyer</button>
    </form>
  </section>
</Layout>
